name: "CI"
on: ["push", "pull_request"]

jobs:
  ci:
    name: "golang CI"
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macOS-latest"]
        go: ["1.23.x"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: unit tests
        run: "go test ./..."
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.8.0

  js-ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["22"]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: cd client && npm ci
      - name: Run ESLint
        run: cd client && npx eslint src && tsc --noEmit
